.app{
  position:relative;
  width:100%;
  height:100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.swiper{
  height:calc(100% - 50px);
  /* padding-bottom:50px; */
  box-sizing: border-box;
  overflow: hidden;
  /* background-color: antiquewhite; */
}

.tabbar{
  flex-shrink: 0;
  height:50px;
  /* position: relative !important; */
}